.canvas {
  display: block;
}

.video {
  display: block;
  background-color: aquamarine;

}

.canvas,
.video {
  transform: scaleX(-1);
}

.preview {
  display: block;
}

.heading {
  width: 80px;
}
